.button {
    background-color: transparent;
    border: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 16px 25px;
    cursor: pointer;
    transition-duration: 0.4s;
    cursor: pointer;
    display: inline-block;
    position: relative;
  }
  
  /* Transparent to Colour (button-ttc-color) */
  .button-ttc-red {
    background-color: transparent;
    color: white;
    border: 2px solid red;
  }
  
  .button-ttc-red:hover {
    background-color: red;
    color: white;
  }
  
  .button-ttc-blue {
    background-color: transparent;
    color: white;
    border: 2px solid blue;
  }
  
  .button-ttc-blue:hover {
    background-color: blue;
    color: white;
  }
  
  .button-ttc-green {
    background-color: transparent;
    color: white;
    border: 2px solid green;
  }
  
  .button-ttc-green:hover {
    background-color: green;
    color: white;
  }
  
  .button-ttc-yellow {
    background-color: transparent;
    color: white;
    border: 2px solid yellow;
  }
  
  .button-ttc-yellow:hover {
    background-color: yellow;
    color: black;
  }
  
  /* Border Radius Chnage (button-brc) */
  .button-brc{
    border: 2px solid white;
    border-radius: 0px;
  }
  
  .button-brc:hover {
    border-radius: 25px;
  }
  
  /* Border Hover Shadow (button-shadow) */
  .button-shadow-b{
    background-color: #000;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  .button-shadow-b:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .button-shadow-t{
    background-color: #000;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  .button-shadow-t:hover {
    box-shadow: 0px -15px 16px  rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .button-shadow-l{
    background-color: #000;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  .button-shadow-l:hover {
    box-shadow: -15px 0px 16px  rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .button-shadow-r{
    background-color: #000;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  .button-shadow-r:hover {
    box-shadow: 15px 0px 16px  rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  /* Border Hover Inner (button-inner) */
  
  .button-inner-top{
    border: 2px solid rgb(255, 255, 255);
    z-index: 1;
    color: white;
  }
  
  .button-inner-top:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out;
  }
  
  .button-inner-top:hover {
    color: rgb(0, 0, 0);
  }
  
  .button-inner-top:hover:after {
    top: 0;
    bottom: 0;
    height: 100%;
  }
  
  .button-inner-tsweep{
    border: 2px solid rgb(255, 255, 255);
    z-index: 1;
    color: white;
  }
  
  .button-inner-tsweep:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 100;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease-in;
  }
  
  .button-inner-tsweep:hover {
    color: rgb(0, 0, 0);
  }
  
  .button-inner-tsweep:hover:after {
    top: 0;
    bottom: 100;
    height: 100%;
  }
  
  .button-inner-left{
    border: 2px solid rgb(255, 255, 255);
    z-index: 1;
    color: white;
  }
  
  .button-inner-left:after {
    position: absolute;
    content: "";
    width: 0%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out;
  }
  
  .button-inner-left:hover {
    color: rgb(0, 0, 0);
  }
  
  .button-inner-left:hover:after {
    left: 100;
    right: 0;
    width: 100%;
  }
  
  .button-inner-lsweep{
    border: 2px solid rgb(255, 255, 255);
    z-index: 1;
    color: white;
  }
  
  .button-inner-lsweep:after {
    position: absolute;
    content: "";
    width: 0%;
    height: 100%;
    bottom: 0;
    right: 0;
    left: 100;
    z-index: -1;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out;
  }
  
  .button-inner-lsweep:hover {
    color: rgb(0, 0, 0);
  }
  
  .button-inner-lsweep:hover:after {
    left: 0;
    right: 100;
    width: 100%;
  }
  
  
  
  
  
  