body{
    background: #000;
    
}

h1{
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 75px;
    font-style: italic;
    position: absolute; 
    margin-top: 1%; 
    text-align: center; 
    width: 50%; 
    margin-left: 25%; 
    margin-right: 25%;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}